color_theme = #fea49b;
color_theme_dark = lightness(color_theme, 40%);
color_theme_light = lightness(color_theme, 60%);

color_bg = #e8ebf1;
color_bg_dark = lightness(color_bg, 40%);
color_p = #3e3e3e;
    

:root {
	--color_theme: #fea49b;
	--color_demo_theme: #f77;
	--color_btn: #e76759;
}

font_size = 18px;
container = 1170px;

xs = 480px;
sm = 768px;
md = 992px;
lg = 1200px;

max_xs = xs - 1;
max_sm = sm - 1;
max_md = md - 1;
max_lg = lg - 1;
