.font-poppins {
	font-family: 'Poppins', sans-serif;
	line-height: 1.3;
}

.font-montserrrat {
	font-family: 'Montserrat',sans-serif;
	line-height: 1.3;
	font-weight: lighter;
}

.font-dancing {
    font-family: 'Rochester', cursive;
	font-weight: lighter;
}

.font-petit {
	font-family: 'Rochester', cursive;
	font-weight: lighter;
}

.font-ubuntu {
	font-family: 'Ubuntu', sans-serif;
}

.color_demo {
	color: var(--color_demo_theme) !important;
}

.menu_active_demo {
	background: var(--color_demo_theme) !important; 
}

.section-title {
	line-height: 1;
}