.font-poppins {
	font-family: 'Poppins', sans-serif;
	line-height: 1.3;
}

.font-montserrrat {
	font-family: 'Montserrat',sans-serif;
	line-height: 1.3;
	font-weight: lighter;
}

.font-dancing {
    font-family: 'Dancing Script',cursive;
}

.font-petit {
	font-family: 'Petit Formal Script',cursive;
}

.font-ubuntu {
	font-family: 'Ubuntu', sans-serif;
}