@media (max-width: max_sm) {
	.hidden-mobile {
		display: none !important;
	}
	.no-bg-mobile {
		background-image: none !important;
		background: none !important;
		&:after {
			display: none !important;
		}
	}
	.auto-h.apresentation {
		height: auto !important;
	}
}

@media (min-width: sm) {
	.img-mobile {
		display: none !important;
	}
}