.change-color {
    position: fixed;
    background: #c6c6c6;
    width: 180px;
    z-index: 9999999;
    right: 0;
    text-align: center;
    transition: all .3s ease;
    padding: 10px; 
    color: #fff;
    p {
        color: #fff;
    }
    .color {
        width: 30px;
        height: 30px;
        display: inline-block;

    }
}